* 
{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body 
{
    min-height: 100vh;

    background: #191C38;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-animation-container 
{
    position: relative;

    width: 100%;
    height: 100vh;
}

.particles 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 0;
}

.left-panel 
{
    position: absolute;
    top: 5%;
    left: 10%;

    width: 35%;
    height: 95%;
    padding: 20px;

    background: linear-gradient(160deg, #FFFFFF26, #9999990D);
    backdrop-filter: blur(20px);

    border-radius: 20px 20px 0 0;
    overflow-y: auto;  
    scrollbar-width: none;   
}

.right-panel 
{
    position: absolute;
    top: 20%;
    right: 10%;

    width: 30%;
    height: 50%;
    padding: 20px;
}

h1 
{
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;

    cursor: default;

    text-align: left;
    font-family: "Urbanist";
    font-size: 6.25em;
    font-weight: 800;
    letter-spacing: 5px;
    color: #D8D8D85D;
}

p 
{
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;

    cursor: default;

    text-align: justify;
    font-family: "Urbanist";
    font-size: 1.75em;
    font-weight: normal;
    letter-spacing: 1px;
    color:#D8D8D8;
}

.topic-link 
{
    padding-top: 20px;
    
    text-decoration: none;
    color: inherit;
    
    display: block;
}

.topic-block 
{
    position: relative;

    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.topic-block:hover 
{
    border-radius: 20px; 
    box-shadow: 0px 0px 20px #D8D8D8;

    transform: scale(1.1);
}

.topic-image 
{
    width: 100%;
    height: 45vh;
    object-fit: cover; 

    border-radius: 20px;

    display: block;
}

.topic-title 
{
    position: absolute;
    bottom: 10px;
    right: 10px;

    width: fit-content;
    padding: 15px 20px;
    margin: 0;
    
    text-align: left;
    font-family: "Urbanist";
    font-weight: normal;
    font-size: 2em;
    color :#D8D8D8;
    
    background-color: #000000B3;
    border-radius: 15px;
    z-index: 10;        /* ensures title label is above image */

    transition: background-color 0.3s ease-in-out;

    display: flex;
    justify-content: flex-end;
}

.topic-block:hover .topic-title 
{
    background-color: #AAAAAAA6;   
}
